<%- include("partials/header.ejs") -%>

<div>
    <h1>Home</h1>
    <p><%= homeStartingContent %></p>
    
    <% posts.forEach(function(post){ %>
        <% console.log(post.title) %>
        <h1> <%= post.title %> </h1>
        <p> <%= post.body %> </p>
    <% }) %>

</div>

<%- include("partials/footer") -%>
